@{
    ViewData["Title"] = "Home Page";
}

@model List<DockerBackup.Business.Interfaces.Models.IContainerSchedule>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Backups Enabled?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var container in Model)
            {
                    <tr class="@(container.IsBackedUp && !string.IsNullOrWhiteSpace(container.Id) ? "table-success" : "")">
                    <td>@container.Id</td>
                    <td>@container.Name</td>
                    <td>@container.Image</td>
                    <td>@(container.IsBackedUp ? string.Format("Yes ({0} - {1:00}:{2:00})", container.Frequency, container.Hour, container.Minute) : "No")</td>
                    <td>
                        @if (container.IsBackedUp)
                        {
                            <a asp-controller="Schedule" asp-action="Delete" asp-route-containerName="@container.Name">Disable</a>
                        }
                        else
                        {
                            <a asp-controller="Schedule" asp-action="Add" asp-route-containerName="@container.Name">Enable</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>